<div class="top-bottom-padding">
    <div class="col-lg-8 center">
        <form class="form-horizontal well" ng-submit="addProduct(product)">
            <fieldset>
                <legend>পণ্য যোগ করুন</legend>

                <div class="form-group">
                    <label class="col-lg-4 control-label">পণ্যের নাম *</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="" required="" placeholder="পণ্যের নাম "
                               name="Email" ng-model="product.ProductName">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">শ্রেণী *</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="" required="" placeholder="শ্রেণী "
                               name="Email" ng-model="product.Category">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">উপ-শ্রেণী *</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="" required="" placeholder="উপ-শ্রেণী"
                               name="Email" ng-model="product.Subcategory">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">দাম *</label>

                    <div class="col-lg-3">
                        <input type="number" class="form-control" id="" required="" placeholder="দাম "
                               name="" min="0" ng-model="product.PriceRangeFrom">
                    </div>
                    <label class="col-lg-1 control-label">থেকে</label>
                    <div class="col-lg-3">
                        <input type="number" class="form-control" id="" required="" placeholder="দাম "
                               name="" min="0" ng-model="product.PriceRangeTo">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 control-label">প্রাপ্তি স্থান *</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="" required="" placeholder="প্রাপ্তি স্থান "
                               name="Email" ng-model="product.District">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">মেয়াদ উত্তীর্ণের তারিখ *</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="" required="" placeholder="মেয়াদ উত্তীর্ণের তারিখ"
                               name="Email" ng-model="product.ExpireDate">
                    </div>

                </div>
                <!--Image-->
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-4">
                        <button class="btn btn-success col-lg-3" type="submit">যোগ করুন</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>