<div class="top-bottom-padding col-lg-8 center">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>পণ্যের বিবরণ</h3>
        </div>
        <div class="col-md-5" style="padding-top: 20px;">
            <div class="thumbnail">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Paddy_West_Bengal.jpg">
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-7">
                <table class="table table-striped">
                    <tr>
                        <th>পণ্যের নাম</th>
                        <td>: {{product.Name}}</td>
                    </tr>

                    <tr>
                        <th>ক্যাটাগরি</th>
                        <td>: {{product.Category}}</td>
                    </tr>

                    <tr>
                        <th>উপ-ক্যাটাগরি</th>
                        <td>: {{product.Subcategory}}</td>
                    </tr>

                    <tr>
                        <th>প্রাপ্তি স্থান</th>
                        <td>: {{product.District}}</td>
                    </tr>

                    <tr>
                        <th>দাম</th>
                        <td>: {{product.PriceRangeFrom}} - {{product.PriceRangeTo}}</td>
                    <tr>
                        <th>মেয়াদ উত্তীর্ণের তারিখ</th>
                        <td>: {{product.ExpireDate}}</td>
                    </tr>

                    <tr>
                        <th>গড় রেটিং</th>
                        <td>
                            : <rating data-ng-model="product.AverageRating" max="5" readonly="true"></rating>
                        </td>
                    </tr>
                    <tr>
                        <th>রেটিং করুন</th>
                        <td>
                            : <rating data-ng-model="Rating" max="5" data-ng-click="Rate()"></rating>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <td colspan="2" class="well-lg">

    </div>
</div>
